<IfModule mod_rewrite.c>
    RewriteEngine On

    # Establece la base del proyecto
    RewriteBase /PHPSimpleMVCPSR/

    # Redirige todas las solicitudes que no sean archivos o directorios existentes a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>